{% extends 'profile/baseProfile.html.twig' %}

{% block title %}{{ contentTitle }}{% endblock %}

{% block contentTitle %}
    <h1>{{ contentTitle }}</h1>
{% endblock %}
{% block content %}
    {{ form_start(form) }}
    {{ form_widget(form) }}
    {{ form_end(form) }}

    <script>
        $(function () {
            $('.characteristic_add').click(function (obj){
                let formCharacteristic =  $(this).parent().parent().parent().parent().parent();
                let form =  $(this).parent().parent().parent().parent().clone();
                let count = formCharacteristic.children('fieldset').size();
                form.find('.characteristic_add').remove();
                formCharacteristic.append(form.html().replaceAll('0', count + 1));
            });
            $('.option_add').click(function (obj){
                let formOption =  $(this).parent().parent().parent().parent().parent();
                let form =  $(this).parent().parent().parent().parent().clone();
                let count = formOption.children('fieldset').size();
                form.find('.option_add').remove();
                formOption.append(form.html().replaceAll('0', count + 1));
            });
        });
    </script>
{% endblock %}

