{% extends 'profile/baseProfile.html.twig' %}

{% block title %}{{ contentTitle }}{% endblock %}

{% block contentTitle %}
    <h1>{{ contentTitle }}</h1>
{% endblock %}
{% block content %}
    {{ form_start(form) }}
    {{ form_widget(form) }}
    {{ form_end(form) }}
{% endblock %}

