{% extends 'profile/baseProfile.html.twig' %}

{% block title %}{% trans %}shop{% endtrans %}: {{ shop.name }}{% endblock %}

{% block contentTitle %}
    <h1>{% trans %}shop{% endtrans %}: {{ shop.name }}</h1>
    <a class="link-secondary" href="{{ path('_profile_addProduct', {shopId: shop.id}) }}" aria-label="Add a new report">
        <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none"
             stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"
             class="feather feather-plus-circle">
            <circle cx="12" cy="12" r="10"></circle>
            <line x1="12" y1="8" x2="12" y2="16"></line>
            <line x1="8" y1="12" x2="16" y2="12"></line>
        </svg>
    </a>
{% endblock %}
{% block content %}
    {% for item in products.result %}
        <div class="col-md-12">
            <div class="row g-0 border rounded overflow-hidden flex-md-row mb-4 shadow-sm h-md-250 position-relative">
                <div class="col p-4 d-flex flex-column position-static">
                    <strong class="d-inline-block mb-2 text-primary">{{ item.category.name }}</strong>
                    <h3 class="mb-0">{{ item.name }}</h3>
                    <div class="mb-1 text-muted">{{ item.createdAt|date("d.m.Y") }}</div>
                    <p class="card-text mb-auto">{{ item.description }}</p>
                    <a href="#" class="stretched-link">{% trans %}product.detail.read{% endtrans %}</a>
                </div>
                <div class="col-auto d-none d-lg-block">
                    <svg class="bd-placeholder-img" width="200" height="250" xmlns="http://www.w3.org/2000/svg" role="img" aria-label="Placeholder: Thumbnail" preserveAspectRatio="xMidYMid slice" focusable="false"><title>Placeholder</title><rect width="100%" height="100%" fill="#55595c"></rect><text x="50%" y="50%" fill="#eceeef" dy=".3em">Thumbnail</text></svg>
                </div>
            </div>
        </div>
    {% endfor %}

    {% include 'utils/paginator.html.twig' with { 'p': products } %}
{% endblock %}

